* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 1rem;
}

body {
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  color: #222;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #F5F5F5;
  font-size: clamp(0.95rem, 2.5vw, 1rem);
}

.main-nav {
  background: #d7d3c8;
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 3.5rem;
}

.nav-link {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  font-size: clamp(1.05rem, 2vw, 1.35rem);
}

.main-nav ul {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}


/*.hero {
    display: grid;
}*/

.hero {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

/* Positionering: elementet positioneras i förh. till sin urspr. position i flödet. När man anv. top, right, bottom eller left justeras elementet från dess ursprunglia plats, men påverkar fortfarande andra elements layout*/

.hero-image {
  width: 100%;
  height: clamp(220px, 30vw, 360px);
  object-fit: cover;
  /*object-position: top center;*/
  object-position: center 20%;
  display: block;
}

.hero-logo {
  display: block;
  width: clamp(100px, 14vw, 180px);  
  /*top: clamp(2.5rem, 2.5vw, 8rem);
  left: clamp(1.5rem, 3vw, 3.5rem);*/
  /*top: 4.5rem;
  left: 3rem;*/
}

.hero-logo-link {
  position: absolute;
  display: block;
  top: clamp(3rem, 6.6vw, 9rem);
  left: clamp(1.5rem, 5vw, 3.5rem);
  width: clamp(100px, 14vw, 180px);
  z-index: 2;
}


.main {
  max-width: 1200px; 
  margin: 1.2rem auto;
  padding: 2rem;
  background-color: #F5F5F5;
}
h1, h2, h3{
  text-align: center;
  
}

h1 {
    margin: 1.25rem 0;
    font-size: clamp(1.4rem, 3vw, 2.1rem);
}

h2 {
    margin: 1.875rem 0;
    font-size: clamp(1.2rem, 3vw, 1.8rem);
}

h3, h4 {
  margin: 1.25rem 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 3.5rem;
  margin: 3rem auto;
   
}

.cards img{
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 500px) {
  .main {padding: 1rem;}
  .cards {grid-template-columns: 1fr;
          gap: 2rem;}
  .nav-link {font-size: 1.1rem;}
  .hero-image {
    content: url("./bilder/hero-mobile.webp");
  }
}

.card {
   background-color: #D8D3C740;
   border-radius: 20px;
   margin: 0;
   padding: 1rem;

}

.card > img {
  width: 100%;
  height: auto;
  display: block;
}

/*bara direkta barn till .card påverkas, inte alla bilder*/

.card .img-two-people {
  width: min(450px, 100%);
  display: block;
  margin: 0 auto;
}

.text-invite-to-gallery {
  font-size: 1.2rem;
  text-align: center;
  margin: 4rem auto;
}

.text-invite-to-gallery a {
  color: #2F6F5E;
  text-decoration: none;
}


.text-about {
  max-width: 50ch;
  padding: 1rem;
  margin: 2rem auto;
}

footer {
  text-align: center;
  margin: 2.5rem auto 0; 
  padding: 1rem;
  background-color: #D8D3C7;
}

.adress{
  font-weight: 600; 
  margin: 0.5rem;
}

.adress span{
  font-weight: 400;
}

.disclaimer {
  font-style: italic;
  font-weight: 400;
  font-size: 0.8rem;
  
}


/** Start contact.html **/

.two-column-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  gap: 2rem;
  margin: 2.5rem auto;
}

.right-card,
.left-card{
  background-color: rgba(216, 211, 199, 0.25);
  border-radius: 20px;
  padding: 1.5rem;
}

.contact-image{
  width: 100%;
  height: clamp(360px, 45vw, 560px);
  object-fit: cover;
  border-radius: 14px;
  display: block;
  
}

/*.contact-image{
  width: 100%;
  height: 520px;
  object-fit: cover;
  border-radius: 14px;
  display: block;
  margin-top: 0.5rem;
}


.right-card img {
  margin-top: 0.5rem;
  max-height: 520px;
  object-fit: cover;
}*/

/* Form */
.contact-form{
  display: grid;
  gap: 1.1rem;
}

.text-contact{
  max-width: 60ch;
  margin: 0 0 0.5rem;
}

.field{
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.field label{
  font-weight: 600;
}

.field input,
.field textarea{
  width: 100%;
  padding: 0.55rem 0.65rem;
  font: inherit;
  border-radius: 6px;
  border: 1px solid #c8c2b4;
  background-color: #fff;
}

.field textarea{
  resize: vertical; /* Användaren får bara ändra höjden, inte bredden*/
  min-height: 140px;
}

.consent-box{
  display: grid;
  grid-template-columns: 18px 1fr; 
  gap: 0.75rem;
  align-items: start;
  padding: 1rem;
  background-color: rgba(216, 211, 199, 0.35);
  border-radius: 14px;
  font-size: 0.95rem;
} /* lilla boxen med checkbox och consent-text */
/* 18px - checkboxen samma visuella bredd oavsett skärm, inte växa, inte krympa för mycket
1 fr - ta resten av uttrymme som blir över*/

.consent-box input{
  margin-top: 0.2rem;
}

.required-star{
  color: #2F6F5E;
  font-weight: 800;
  margin-left: 0.15rem;
}

/* Button */
.btn{
  padding: 0.6rem 1.6rem;
  border: none;
  border-radius: 10px;
  background-color: #2F6F5E;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  justify-self: start;
}

.btn:hover{
  background-color: #25594c;
}



/** End contact.html **/

/** Start Book.html **/


/*left card*/
.map-note{
  margin-top: 0.9rem;
  font-size: 0.95rem;
  color:#2F6F5E;
}

.map-embed iframe{
    height: 320px;
    width: 100%;
    height: clamp(280px, 35vw, 420px);
    border: 0;
    border-radius: 14px;
    display: block;
  } 


/** End Book.html **/

/* Mobile */
@media (max-width: 900px){
  .two-column-grid{
    grid-template-columns: 1fr;
  }  

  .btn{
    width: 100%;
    justify-self: stretch;
    text-align: center;
  }
}

.main-nav a:hover, .text-invite-to-gallery a:hover {
  color: rgba(180, 95, 40, 0.95);
}

a:focus-visible {
     outline: 2px solid rgba(180, 95, 40, 0.95);
     outline-offset: 0.25rem;
}


/*.nav-link:hover {
 color:rgba(180, 95, 40, 0.95);
}*/


/*a:hover {
  color: rgba(180, 95, 40, 0.95);
}


a:visited {
  color: rgba(120, 80, 50, 0.9);
  
}*/




/** Slideshow. Source W3Schools**/


.slideshow-container{
  width: 100%;
  max-width: 100%;
  margin: 0;
  position: relative;
}

/*.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}*/

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/**End Slideshow**/

