body {
  background-color: rgb(251, 249, 243);
  color: #1c2124;
  font-size: 1.2rem;
  line-height: 1.5;
}

.container {
  width: min(1000px, 100% - 2rem); 
  margin: 0 auto;
  padding: 20px;
}

h1 {
    margin: 20px 0;
}

h2 {
    margin: 30px 0;
}

/* Krav för C: Lägg in margin-top på rubrikerna */

h1, h2 {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
}

p {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
}

/*.column h2 {
    text-align: center;
    margin-top: 30px;} */


/* Krav för C: Centrera texten i footern och rubrikerna */



nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;    
}


/* Krav för E: Lägg till padding på 10px i navigeringen */

/*Menu links start */ 
nav a {
  padding: 10px 12px;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  background-color: #afeda7;
  border-radius: 9px;
  
}

nav a:hover {
  background-color: #f6c995;
  color: black;
}

nav a:active {
  background-color: #536974;
  background-color: #f77c36;
}
/*Menu links end */

/* Krav för C: Lägg till marginaler och padding för bättre layout */



/* Krav för C: Använd Modern Font Stacks */

/* Krav för C: Endast p-elementen ska ha font-size: 0.9rem */

/* Krav för A: Skapa ett bildgalleri med grid */

.two-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  align-items: start;
}

/*Gallery start*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 10px;
    padding: 10px;
}

.gallery-item {
    width: 100%;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Gallery end*/
/* Använd grid-template-columns, repeat(), auto-fit, minmax(), grid-auto-rows och gap */
/* Använd width och height på lämpliga platser */
/* Använd object-fit: cover; för att justera bilderna */

footer {
    text-align: center;
    margin: 40px 0;
    padding: 10px;
}
/* Krav för C: Centrera texten i footern och rubrikerna */


/*

img {
  display: inline;
  width: 20vw;
}


*/