body {
  background-color: rgb(251, 249, 243);
  color: #1c2124;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}

.container {
  width: min(1100px, 100% - 2rem); 
  margin: 0 auto;
  padding: 1.25rem;
}
/*För index.html*/

.container-wide {
  width: min(1400px,100% - 2rem);
  margin: 0 auto;
  padding: 1.25rem;
}
/*För etik.html, så att bilderna kan bredda ut sig och avstånd till marginalen minska*/



h1 {
    margin: 1.25rem 0;
}

h2 {
    margin: 1.875rem 0;
}

h3, h4 {
  margin: 1.25rem 0;
}

/* Krav för C: Lägg in margin-top på rubrikerna */

h1, h2, h3, h4 {
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  text-align: center;
}
/* Krav för C: Använd Modern Font Stacks */

/* Krav för C: Centrera texten i footern och rubrikerna */

.weight {
  font-weight: 700;
}
.italic {
  font-style: italic;
}

nav {
    display: flex;
    justify-content: center;
    gap: 0.75rem; /* ca.12px */
    margin-bottom: 1.5rem;    
}


/* Krav för E: Lägg till padding på 10px i navigeringen */

/*Menu links start */ 
nav a {
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  padding: 10px 12px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  background-color: rgb(189, 164, 227);
  border-radius: 14px;  
}

nav a:hover {
  background-color: rgb(246, 201,149);
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav a:active {
  background-color: rgb(247, 124, 54);
}
/*Menu links end */

/* Krav för C: Lägg till marginaler och padding för bättre layout */


.two-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  align-items: start;
}

/*Gallery start*/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 300px;
    gap: 15px;
    padding: 5px;
}

/* .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 10px;
}.*/

/* Krav för A: Skapa ett bildgalleri med grid */


.gallery-item {
    width: 100%;
    height: 100%;
    margin: 0;    
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: block;      
} 

/*Gallery end*/

/* Använd grid-template-columns, repeat(), auto-fit, minmax(), grid-auto-rows och gap */
/* Använd width och height på lämpliga platser */
/* Använd object-fit: cover; för att justera bilderna */

footer {
    text-align: center;
    margin: 2.5rem 0;
    padding: 0.625rem;
    /* 10px/16=0.625 rem*/
}
/* Krav för C: Centrera texten i footern och rubrikerna */

footer p {
  color: rgb(6, 11, 67);
}

.column :is(ul,ol) {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0.75rem 0 1rem;
  padding-left: 1.25rem;

} 

.GDPR-rules li {
  margin-bottom: 0.70rem;
}

.GDPR-rules li > span{
  font-size: 1rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.25rem;
}

p {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
} /* Krav för C: Endast p-elementen ska ha font-size: 0.9rem */


.listan-ip-details {
  font-size: 1rem;
  line-height: 1.45;
  color:rgb(79, 79, 80);
}

a {
  text-decoration:none;
  font-size: 1rem;
  font-weight: 400;
  color: darkblue;  
}

a:hover {
  color: green;
  text-decoration: underline;
}

a:focus{
  outline: 2px solid orange;
}


