body {
  background-color: rgb(251, 249, 243);
  color: #1c2124;
  font-size: 1.2rem;
  line-height: 1.5;
}

.container {
  width: min(1100px, 100% - 2rem); 
  margin: 0 auto;
  padding: 1.25rem;
}
/*För index.html*/

.container-wide {
  width: min(1400px,100% - 2rem);
  margin: 0 auto;
  padding: 1.25rem;
}
/*För etik.html, så att bilderna kan bredda ut sig och avstånd till marginalen minska*/

h1 {
    margin: 1.25rem 0;
}

h2 {
    margin: 1.875rem 0;
}

/* Krav för C: Lägg in margin-top på rubrikerna */

h1, h2, h3 {
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  /*font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;*/
    text-align: center;
}
/* Krav för C: Använd Modern Font Stacks */


/*.column h2 {
    text-align: center;
    margin-top: 1.875rem;} */


/* Krav för C: Centrera texten i footern och rubrikerna */



nav {
    display: flex;
    justify-content: center;
    gap: 0.75rem; /* ca.12px */
    margin-bottom: 1.5rem;    
}


/* Krav för E: Lägg till padding på 10px i navigeringen */

/*Menu links start */ 
nav a {
  padding: 10px 12px;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  background-color: #afeda7;
  border-radius: 9px;
  
}

nav a:hover {
  background-color: #f6c995;
  color: black;
}

nav a:active {
  background-color: #536974;
  background-color: #f77c36;
}
/*Menu links end */

/* Krav för C: Lägg till marginaler och padding för bättre layout */


.two-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  align-items: start;
}

/*Gallery start*/


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 300px;
    gap: 10px;
    padding: 5px;
}

/* Krav för A: Skapa ett bildgalleri med grid */

/*.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 10px;
}*/

.gallery-item {
    width: 95%;
    height: 95%;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Gallery end*/
/* Använd grid-template-columns, repeat(), auto-fit, minmax(), grid-auto-rows och gap */
/* Använd width och height på lämpliga platser */
/* Använd object-fit: cover; för att justera bilderna */

footer {
    text-align: center;
    margin: 2.5rem 0;
    padding: 0.625rem;
    /* 10px/16=0.625 rem*/
}
/* Krav för C: Centrera texten i footern och rubrikerna */

p {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
} /* Krav för C: Endast p-elementen ska ha font-size: 0.9rem */

/*

img {
  display: inline;
  width: 20vw;
}


*/