* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 1rem;
}

body {
  min-height: 100vh;
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #222;
  background-color: #F5F5F5;
  font-size: clamp(0.95rem, 2.5vw, 1rem);
}

.main-nav {
  background: #d7d3c8;
  display: flex;
  justify-content: center;
  /*gap: 1rem;*/
  width: 100%;
  /*height: 3.5rem;*/
  height: auto;
  padding: 0.75rem 0;
}

.nav-link {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  font-size: clamp(1.05rem, 2vw, 1.35rem);
}

.main-nav ul {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav a {
  padding: 0.35rem 0.6rem;
  border-radius: 999px; /*gör hörnen så runda som möjligt*/
}

.main-nav a:hover,
.main-nav a:focus-visible {
  background-color: #1F4F43; 
  color: #fff;
  text-decoration: none;
}


.hero {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}


.hero-image {
  width: 100%;
  height: clamp(220px, 30vw, 360px);
  object-fit: cover;
  /*object-position: top center;*/
  object-position: center 20%;
  display: block;
}

.hero-logo {
  display: block;
  width: clamp(100px, 14vw, 180px); 
  height: auto; 
}

.hero-logo-link {
  position: absolute;
  display: block;
  top: clamp(3rem, 6.6vw, 9rem);
  left: clamp(1.5rem, 5vw, 3.5rem);
  z-index: 2;
}


.main {
  max-width: 1200px; 
  margin: 1.2rem auto;
  padding: 2rem;
  background-color: #F5F5F5;
}

h1, h2 {
  text-align: center;  
}

h1 {
    margin: 1.25rem 0;
    font-size: clamp(1.4rem, 3vw, 2.1rem);
}

h2 {
    margin: 1.875rem 0;
    font-size: clamp(1.2rem, 3vw, 1.8rem);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 3.5rem;
  margin: 3rem auto;
   
}

.cards img{
  width: 100%;
  height: auto;
  display: block;
}

.card {
   background-color: #D8D3C740;
   border-radius: 20px;
   margin: 0;
   padding: 1rem;

}

.card > img {
  width: 100%;
  height: auto;
  display: block;
}

.card .img-two-people {
  width: min(450px, 100%);
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  
}

.text-invite-to-gallery {
  font-size: 1.2rem;
  text-align: center;
  margin: 4rem auto;
}

.text-invite-to-gallery a {
  color: #5b4607;
  text-decoration: none;
  font-weight: 600;
}

.text-invite-to-gallery a:hover, .text-invite-to-gallery a:focus-visible {
  color: #116750;
  text-decoration: none;
  font-weight: 600;
}


.text-about {
  max-width: 50ch;
  padding: 1rem;
  margin: 2rem auto;
}


footer {
  text-align: center;
  margin: 2.5rem auto 0; 
  padding: 1rem;
  background-color: #D8D3C7;
}

.adress,
.disclaimer {
  max-width: 60ch;
  margin-inline: auto;
}


.adress{
  font-weight: 600; 
  margin: 0.5rem auto;
}

.adress span{
  font-weight: 400;
}

.disclaimer {
  font-style: italic;
  font-weight: 400;
  font-size: 0.8rem;
  
}


/** Start contact.html **/

.two-column-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  gap: 2rem;
  margin: 2.5rem auto;
}

.right-card,
.left-card{
  background-color: rgba(216, 211, 199, 0.25);
  border-radius: 20px;
  padding: 1.5rem;
}

.right-card-contact-page {
  display: grid;
  place-items: center; 
  background-color: rgba(216, 211, 199, 0.25);
  border-radius: 20px;
  padding: 1.5rem;
}


.contact-image{
  width: 100%;
  height: clamp(360px, 45vw, 560px);
  object-fit: cover;
  border-radius: 14px;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}

 


/* Form */
.contact-form{
  display: grid;
  gap: 1.1rem;
}

.text-contact{
  max-width: 50ch;
  margin: 0 0 0.5rem;
}

.field{
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.field label{
  font-weight: 600;
}

.field input,
.field textarea{
  width: 100%;
  padding: 0.55rem 0.65rem;
  font: inherit;
  border-radius: 6px;
  border: 1px solid #c8c2b4;
  background-color: #fff;
}

.contact-form .field input,
.contact-form, .field textarea {
  max-width: 520px;
}


.field textarea{
  resize: vertical; /* Användaren får bara ändra höjden, inte bredden*/
  min-height: 140px;
}

.consent-box{
  display: grid;
  grid-template-columns: 18px 1fr; 
  gap: 0.75rem;
  align-items: start;
  padding: 1rem;
  background-color: rgba(216, 211, 199, 0.35);
  border-radius: 14px;
  font-size: 0.95rem;
}

.consent-box input{
  margin-top: 0.2rem;
}

.required-star{
  color: #2F6F5E;
  font-weight: 800;
  margin-left: 0.15rem;
}

.consent-text {
  max-width: 50ch;
  line-height: 1.4;
  font-size: 0.9rem;
}

/* Button */
.btn{
  font-size: 1.2rem;
  padding: 0.6rem 1.6rem;
  border: none;
  border-radius: 10px;
  background-color: #336154;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  justify-self: start;
}

.btn:hover{
  background-color: #1A4339;
}

/** End contact.html **/



/** Start Book.html **/

 .left-card-book-page {
  display: grid;
  place-items: center; 
  background-color: rgba(216, 211, 199, 0.25);
  border-radius: 20px;
  padding: 1.5rem;
}

.right-card-book-page {
  display: grid;
  place-items: center;
  background-color: rgba(216, 211, 199, 0.25);
  border-radius: 20px;
  padding: 30px;

}

.book-image{
  width: 100%;
  height: clamp(360px, 45vw, 560px);
  object-fit: cover;
  border-radius: 14px;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  margin: auto 10px; 
}


/** End Book.html **/

/** Start find-us.html **/

.map-section {
  display: grid;
  place-items: center;
  margin: 2.5rem auto;    
}

.map-card {
  width: 100%;
  max-width: 1200px;
  border-radius: 15px;
  background-color: rgba(216, 211, 199, 0.25);
  padding: 1.25rem;
  border: 2px solid rgba(180, 95, 40, 0.95);
}

.map-note{  
  margin-top: 0.9rem;
  font-size: 0.95rem;
  color:#000503;
}

.map-embed iframe{
    width: 100%;
    height: clamp(400px, 50vw, 650px);
    border: 0;
    border-radius: 15px;
    display: block;
  } 

  /** End find-us **/



/* Tillgänglighet: samma färg för alla fokusringar på sidan.
Delar av kod är lånade. Koden anpassad. */
:where(a, button, input, textarea, [role="button"], [tabindex]):focus-visible {
  outline: 3px solid rgba(180, 95, 40, 0.95);
  outline-offset: 4px; /* Ökad avstånd mellan fokusringen och elementet*/ 
  border-radius: 12px;
}
 
/* :where (specificitet 0), låter en skriva en lång lista med selektorer utan att höja specificiteten.
[tabindex] - för slideshow pilar och dots.
role button - element som gjorts knapplika*/


/** Start Gallery **/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-auto-rows: 460px;
    gap: 28px;
    padding: 10px;
    margin: 40px auto;
}

.gallery-item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 16px;
    background-color: #fff; 
    padding: 12px; 
    border-radius: 14px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: block;      
}


/** Slideshow. Source W3Schools**/


.slideshow-container{
  width: 100%;
  max-width: 100%;
  margin: 0;
  position: relative;
}

/*.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}*/

/* Hide the images by default */
.mySlides {
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mySlides img {
  border-radius: 10px; 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/**End Slideshow**/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}


.under-construction {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  max-width: 60ch;
  
}

/* Mobile */
@media (max-width: 900px){
  .two-column-grid{
    grid-template-columns: 1fr;
  }  
/* 900px tablet break point*/

  .btn{
    width: 100%;
    justify-self: stretch;
    text-align: center;
  }
}

@@media (max-width: 600px) {

  .main {
    padding: 1rem;
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .main-nav {
    height: auto;
    padding: 0.75rem 0;
  }

  .main-nav ul {
    gap: 1rem;
  }

  .nav-link {
    font-size: 1rem;
  }
}
